button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}